<footer>
    <div class="footer-container">
        <div class="footer-brand">
            <img src="{{ url_for('static', filename='images/products/logo2.png') }}" alt="Fuji Logo">
            <p>AZUCHI là thương hiệu cung cấp các mẫu rèm thiết kế cao cấp nhất.</p>
        </div>

        <div class="footer-services">
            <h3>Dịch Vụ</h3>
            <ul>
                <li><a href="#">Hướng dẫn mua hàng</a></li>
                <li><a href="#">Chính sách thanh toán</a></li>
                <li><a href="#">Chính sách điều khoản</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h3>Liên hệ</h3>
            <p>CÔNG TY TNHH AZUCHI TEXTILE VIET NAM</p>
            <p>🏠 40/4/2 TX40 Thạnh Xuân, quận 12, TP.HCM</p>
            <p>📞 (+84) 908 015 356</p>
            <p>📧 <a href="mailto:gioinguyen@gmail.com" class="email-link">gioinguyen@gmail.com</a></p>
        </div>
    </div>
</footer>
